@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff2") format("woff");
    font-weight: normal;
    font-style: normal;

}


body {
  position: relative;

  width: 100%;
  margin: 0;
  padding-top: 40px;


  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-stretch: condensed;
  color: #000000;

  background-color: #ffffff;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */


.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;

  margin-bottom: 43px;
  padding: 33px 60px 43px 60px;

  min-width: 960px;
  height: 186px;
  background-color: #F8E297;
}

.main-header-logo {
  position: absolute;
  top: -19px;
  left: 59px;

}


.main-header-logo:hover img {
  opacity: 0.6;
}

.main-header-logo:active img {
  opacity: 0.3;
}


.main-header-top {
  margin-bottom: 31px;
}

.button {
  position: relative;
  z-index: 0;

  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-color: transparent;
  border: none;
  outline: none;
}

.details-btn::after {
  content: "Подробнее";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.features-slider-button::after {
  content: "Доставка";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}


.active-tab::after {
  background-color: transparent;
}

.about .about-us-btn {
  padding: 0 23px;
}

.about-us-btn::after {
  content: "Подробнее о нас";
  color: transparent;

  position: absolute;
  top: 31%;
  left: 0;
  z-index: -100;

  padding-right: 23px;
  padding-left: 23px;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.write-us-btn::after {
  content: "Напишите нам";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding-left: 41px;
  padding-right: 41px;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.filter-form button::after {
  content: "Показать";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.to-cart {
  white-space: nowrap;
}

.to-cart::after {
  content: "В корзину";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.write-us-submit::after {
  content: "отправить";
  color: transparent;

  position: absolute;
  top: 36%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}


.button:hover::after,
.button:focus::after {
  -webkit-transform: scaleY(4);
      -ms-transform: scaleY(4);
          transform: scaleY(4);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.button:active {
  color: #A78920;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.site-search input {
  position: relative;

  margin-left: 38px;
  width: 317px;
  height: 49px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #AD9D69;

  background-color: transparent;
  border: none;
  outline: none;
}


.site-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  margin-right: auto;
}

.site-search input {
  color: #000000;
}

.site-search input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search input:hover::-webkit-input-placeholder {
  opacity: 0.6
}

.site-search input:hover:-ms-input-placeholder {
  opacity: 0.6
}

.site-search input:hover::-ms-input-placeholder {
  opacity: 0.6
}

.site-search input:hover::placeholder {
  opacity: 0.6
}

.site-search input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.site-search input:focus:-ms-input-placeholder {
  opacity: 1;
}

.site-search input:focus::-ms-input-placeholder {
  opacity: 1;
}

.site-search input:focus::placeholder {
  opacity: 1;
}

.site-search input:focus {
  border-bottom: 2px solid #000000;
}

.site-search button {
  display: none;

  width: 85px;
  height: 49px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.site-search input:focus + button {
  display: block;
}

.site-search button:hover {
  color: #ffffff;

  background-color: #000000;
}

.site-search label {
  position: absolute;
  top: 18px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  text-indent: -999em;
}


.site-search button:active {
  display: block;

  color: #4D4D4D;
}

.user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin: 0;
  padding: 0;
  width: 500px;

  list-style: none;
}

.login-link {
  position: relative;

  margin-right: 238px;
}

.user-account {
  position: relative;

  margin-right: 20px;
}

.user-account::before {
  position: absolute;
  top: 10px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
}

.login-link::before {
  position: absolute;
  top: 9px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
}

.logout-link {
  margin-right: 85px;

  opacity: 0.3;
}

.logout-link:hover {
  opacity: 1;
}

.compare {
  position: relative;

  margin-right: 64px;
}

.compare::before {
  position: absolute;
  top: 11px;
  left: -20px;

  content: " ";

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
}

.cart {
  position: relative;
}

.cart::before {
  position: absolute;
  top: 9px;
  left: -23px;

  content: " ";

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.user-account:hover,
.login-link:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.user-account:active,
.login-link:active,
.compare:active,
.cart:active{
  opacity: 0.3;
}

.actions-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 0.1px;
}

.main-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-site-navigation a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.main-site-navigation a:hover {
  color: #635A3C;
}

.main-site-navigation a:active {
  color: #AD9D69;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:nth-child(3) {
  margin-right: 106px;
}

.navigation-item:nth-child(2) {
  margin-right: 35px;
}

.catalog-dropdown-list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-dropdown-container {
  position: relative;
}

.catalog-dropdown-container::after {
  position: absolute;
  top: 3px;
  right: -26px;

  content: " ";

  width: 16px;
  height: 16px;

  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
}

.catalog-dropdown-container:hover ul  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  position: absolute;
  top: 20px;
  left: -60px;
  z-index: 1;

  width: 1160px;
  height: 167px;
  padding-left: 60px;
  padding-top: 20px;

  background-color: #F8E297;
}

.catalog-dropdown-list li {
  margin-right: 60px;
}

.catalog-dropdown-list li:nth-child(3) {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}

.catalog-dropdown-list li:last-child {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.catalog-dropdown-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.1px;
}

.catalog-dropdown-list a:hover {
  color: #625A34;
}

.catalog-dropdown-list a:active {
  color: #AC9D5C;
}

.main-slider {
  position: relative;
  margin-bottom: 91px;
}

.main-slider input {
  display: none;
}

.main-slider label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 16px;

  vertical-align: middle;
  text-indent: -999em;

  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  cursor: pointer;
}

.main-slider #slide-1:checked ~ .buttons-container label[for="slide-1"],
.main-slider #slide-2:checked ~ .buttons-container label[for="slide-2"],
.main-slider #slide-3:checked ~ .buttons-container label[for="slide-3"] {
  background-image: url("../img/slider-button.svg");
}

.main-slider label:last-child {
  margin-right: 0;
}

#slide-1:checked ~ #slide1,
#slide-2:checked ~ #slide2,
#slide-3:checked ~ #slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider::before {
  content: " ";

  position: absolute;
  top: 0px;
  left: 0;
  z-index: -100;

  width: 1160px;
  height: 114px;

  background-color: #f7e296;
}

.main-slider .slider-container {
  display: none;
}

.slide-1 {
  margin-left: 90px;
  margin-right: 80px;
}

.slide-2 {
  margin-left: 115px;
  margin-right: 119px;
}

.slide-3 {
  margin-left: 30px;
  margin-right: 59px;
}

.controls-container {
  position: relative;

  margin-top: 52px;
}

.controls-container a,
.button {
  position: relative;

  padding: 8px 45px;
}

.main-slider .buttons-container {
  position: absolute;
  right: 84px;
  top: 321px;

  z-index: 100;
}

.slide-1 .item {
  width: 540px;
  margin-left: 125px;
}

.slide-2 .item {
  width: 540px;
  margin-left: 139px;
}

.slide-3 .item {
  width: 540px;
  margin-left: 44px;
}

.main-slider  b {
  position: relative;

  display: block;
  margin-top: 80px;
  margin-bottom: 18px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #000000;
}

.slide-3 b {
  font-size: 46px;
}

.main-slider  b::before {
  content: " ";

  position: absolute;
  top: -41px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.slide-1  b::after {
  content: "01";

  position: absolute;
  top: -90px;
  right: -35px;
  z-index: -10;

  font-size: 180px;
  line-height: 180px;
  color: #fff;
}

.slide-2  b::after {
  content: "02";

  position: absolute;
  top: -90px;
  right: -70px;
  z-index: -10;

  font-size: 180px;
  line-height: 180px;
  color: #fff;
}

.slide-3  b::after {
  content: "03";

  position: absolute;
  top: -92px;
  right: -13px;
  z-index: -10;

  font-size: 180px;
  line-height: 180px;
  color: #fff;
}

.slide-1 table {
  margin-bottom: 22px;
}

.slide-2 .image-container {
  margin-top: 13px;
}

.slide-2 table {
  margin-bottom: 11px;
}

.slide-3 .image-container {
  margin-top: 67px;
}

.slide-3 b {
  letter-spacing: 0.9px;
}

.slide-3 table {
  margin-bottom: 22px;
}

.main-slider p {
  margin: 0;
  margin-bottom: 53px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #464646;
}

.main-slider .table-value {
  font-family: "gilroylight", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-slider .table-property {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
}

.main-slider table {
  margin-top: 54px;
}

.main-slider td {
  text-align: left;
  white-space: nowrap;
  width: 154px;
}

.main-slider td:nth-child(2) {
  width: 137px;
}

.categories {
  width: 1160px;
  margin-bottom: 146px;
}

.categories figure {
  margin: 0;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-list li:not(:last-child) {
  margin-right: 40px;
}
.categories-item a {
  margin-bottom: 34px;
}

.categories-item-icon {
  position: relative;
  display: block;

  width: 160px;
  height: 160px;

  text-indent: -999em;
  background-color: #F8E297;
}

.categories-item-icon:hover {
  background-color: #F0C52E;
}

.virtual::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -227px -215px;
}

.virtual:active::after,
.monopod:active::after,
.camera:active::after,
.band:active::after,
.watch:active::after,
.quadro:active::after {
  opacity: 0.3;
}

.monopod::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -12px -9px;
}

.monopods figcaption {
  width: 98px;
}

.camera::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -420px -12px;
}

.band::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -22px -218px;
}

.watch::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: 5px -401px;
}

.quadro::after {
  content: " ";

  display: block;

  position: absolute;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -224px -1px;;

}

.categories-item .item-caption {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #000000;
}

.features-slider {
  margin-bottom: 96px;

  height: 288px;

  background-color: #E5E5E5;
}

.features-slider .container {
  position: relative;
}

.features-flex-box {
  position: absolute;
  top: -24px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  width: 1160px;
  height: 194px;
}

.features-flex-box input[type="radio"] {
  display: none;
}

.button-wrapper label {
  display: block;
}

.features-slider .hidden {
  display: none;
}

.features-slider .buttons-container {
  position: relative;

  width: 278px;
  margin-right: 125px;
}

.features-slider .buttons-container::after {
  position: absolute;
  top: -77px;
  left: 277px;

  content: " ";

  width: 7px;
  height: 319px;

  background-color: #000000;
}

#delivery-slide:checked ~ .buttons-container .delivery-wrapper,
#warranty-slide:checked ~ .buttons-container .warranty-wrapper,
#credit-slide:checked ~ .buttons-container .credit-wrapper {
  background-color: #000000;
}

.features-slider #delivery-slide:checked ~ .buttons-container label[for="delivery-slide"]::after,
.features-slider #warranty-slide:checked ~ .buttons-container label[for="warranty-slide"]::after,
.features-slider #credit-slide:checked ~ .buttons-container label[for="credit-slide"]::after{
  background-color: transparent;
}

.features-slider #delivery-slide:checked ~ .buttons-container label[for="delivery-slide"],
.features-slider #warranty-slide:checked ~ .buttons-container label[for="warranty-slide"],
.features-slider #credit-slide:checked ~ .buttons-container label[for="credit-slide"] {
  color: #F7E184;
}

.features-slider-button {
  width: 160px;
  padding: 12px 20px;
}

.features-slider .button-wrapper:not(:last-child) {
  margin-bottom: 17px;
}

.features-slider-content {
  position: relative;
  display: none;
}

.features-slider .delivery-slide::after {
  position: absolute;
  top: 9px;
  right: -236px;

  content: " ";

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.features-slider .warranty-slide::after {
  position: absolute;
  top: -15px;
  right: -256px;

  content: " ";

  width: 172px;
  height: 194px;

  background-image: url("../img/warranty.svg");
}

.features-slider .credit-slide::after {
  position: absolute;
  top: -15px;
  right: -233px;

  content: " ";

  width: 157px;
  height: 186px;

  background-image: url("../img/credit.svg");
}

.features-slider h3 {
  margin-top: 0;
  margin-bottom: 28px;
  width: 230px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #000000;
}

.features-slider p {
  margin: 0;
  width: 455px;
}

.features-slider p,
.shop-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #464646;
}

#delivery-slide:checked ~  #for-delivery-slide,
#warranty-slide:checked ~  #for-warranty-slide,
#credit-slide:checked ~  #for-credit-slide {
  display: block;
}

.credit-slide p {
  width: 430px;
}

.brands {
  margin-bottom: 132px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0;
  margin: 0;

  list-style-type: none;
}

.brand-item a {
  font-size: 0;
}

.brand-item img {
  -webkit-filter: saturate(0) opacity(0.2);
          filter: saturate(0) opacity(0.2);
}

.brand-item img:hover {
  -webkit-filter: saturate(1) opacity(1);
          filter: saturate(1) opacity(1);
}

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 89px;
}

.about {
  width: 478px;
}

.contacts {
  width: 562px;
}

.about h2,
.contacts h2 {
  position: relative;

  margin: 0;
  margin-bottom: 42px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
  color: #000000;
}

.about h2::before,
.contacts h2::before {
  content: " ";

  position: absolute;
  top: -53px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #464646;
}

.contacts p {
  margin-bottom: 39px;
}

.logistics-list {
  margin: 0;
  padding: 0;
  margin-top: 66px;
  margin-bottom: 62px;

  list-style: none;
}

.logistics-list li {
  position: relative;

  padding: 0;
  margin: 0;
  margin-left: 35px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.logistics-list li::before {
  content: " ";

  position: absolute;
  top: 16px;
  left: -35px;

  width: 8px;
  height: 8px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
}

.map-link {
  display: block;
  margin-bottom: 64px;
}

/* catalog.html */
.page-title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 23px;
  margin-top: 37px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 46px;
  margin-left: 60px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 37px;
}

.breadcrumbs a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #B2B2B2;
}

.breadcrumbs li:not(:last-child) {
  position: relative;
}

.breadcrumbs li::after {
  content: " ";

  display: block;

  position: absolute;
  right: -18px;
  top: 10px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs li:nth-child(2)::after {
  right: -22px;
}

.breadcrumbs a[href]:hover {
  color: #666666;
}

.breadcrumbs a[href]:active {
  color: #E5E5E5;
}

.catalog-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter-outer {
  height: 70px;
  background-color: #dcdcdc;
}

.catalog-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ebebeb;
}

.filter {
  width: calc(50% - (1160px / 2 - 328px));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFEFEF;
}

.filter h3 {
  margin: 0;
  margin-left: 39px;
  margin-top: 23px;
  margin-bottom: 23px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
}

.filter-inner {
  width: 307px;
  margin-left: auto;
}

.catalog-inner {
  width: calc(1160px - 330px);
}

.filter ul {
  list-style: none;
}

.filter legend {
  position: relative;
  font: inherit;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.color,
.bluetooth-feature {
  padding: 0;
  margin: 0;
  margin-left: 39px;
  margin-top: 17px;
}

.color li {
  height: 40px;
}

.filter-form {
  padding: 0;
  padding-left: 38px;
}

.filter-option label,
.bluetooth-feature label {
  position: relative;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #000000;

  cursor: pointer;
}

.filter-option input[type="checkbox"],
.bluetooth-feature input[type="radio"] {
  display: none;
}

.filter-option label::before {
  content: " ";

  position: absolute;
  left: -40px;
  top: -3px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-option input:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.bluetooth-feature label::before {
  content: " ";

  position: absolute;
  left: -39px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.bluetooth-feature input:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.set-color {
  margin-bottom: 44px;
}

.color,
.bluetooth-feature {
  margin-left: 40px;
}

.bluetooth-feature {
  margin-left: 35px;
  margin-bottom: 60px;
}

.filter-form legend::before {
  content: " ";

  position: absolute;
  top: -13px;
  left: 0;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter-form .button {
  padding: 8px 40px;
  margin-top: 33px;
}

/* range-filter start */

.range-filter {
  margin-top: 34px;
  width: 201px;
}

.range-controls {
  margin-bottom: 80px;
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 109px;
}

.range-controls .scale {
  position: relative;
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  box-sizing: content-box;

  border: 9px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 109px;
}

.range-controls label {
  position: absolute;
  top: 11px;
  left: -5px;
  display: inline-block;
  width: 50%;

  font-family: "gilroylight", sans-serif;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  white-space: nowrap;
}

.toggle-max label {
  left: -18px;
}

.range-controls span {
  font-family: "gilroylight", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #bebebe;
}

.range-controls {
  font-size: 0;
}

.range-controls output {
  width: 60px;
  padding: 8px 10px;

  font-family: "gilroylight", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283136;
}
/* range-filter finish */

.set-price {
  margin-top: 82px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-color: #ebebeb;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 52px;
  padding: 0;
}


.sorting-list li:not(:last-child) {
  margin-right: 30px;
}

.sorting-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
}

.sorting-direction li:not(:last-child) {
  margin-right: 19px;
}

.sorting-up {
  text-indent: -999em;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #000000 transparent;
  opacity: 0.2;
}

.sorting-down {
  text-indent: -999em;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
  opacity: 0.2;
}

.sorting-direction li:hover {
  opacity: 0.4;
}

.sorting-direction-active {
  opacity: 1;
}

.sorting h3 {
  margin: 0;
  margin-left: 73px;
  margin-top: 23px;
  margin-bottom: 23px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
}

.sorting ul {
  list-style: none;
}

.sorting-list li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #000000;
  opacity: 0.3;
}

.sorting-list li:hover {
  opacity: 0.6;
}

.sorting-list .sorting-item-active,
.sorting-list li:active {
  opacity: 1;
}

.monopods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-left: 70px;
  margin-top: 70px;
  padding: 0;

  list-style: none;
}

.monopods-list-item {
  position: relative;
}

.monopods-list-item:nth-child(odd) {
  white-space: nowrap;
}

.monopods-list-item:last-child::after {
  content: " ";

  position: absolute;
  right: 25px;
  top: 25px;

  width: 60px;
  height: 61px;

  background-image: url("../img/new.png");
}


.monopods-list .item-buttons-hover {
  display: none;

  position: absolute;
  top: 179px;
  left: 50%;

  margin-left: -100px;
}

.monopods-list-item:hover {
  opacity: 0.7;

}

.monopods-list-item:hover .item-buttons-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.monopods-list-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-box > a {
  margin-bottom: 26px;
}

.monopods-list-item:first-child,
.monopods-list-item:nth-child(2) {
  margin-bottom: 46px;
}

.monopods-list-item:last-child,
.monopods-list-item:nth-child(3) {
  margin-bottom: 35px;
}

.item-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.item-caption p {
  width: 225px;
  margin: 0;

  letter-spacing: 0.3px;
}

.item-caption span {
  display: block;
}

.item-title a {
  font: inherit;
  color: #000000;
}

.item-price {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #464646;
}

.to-compare-button {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-weight: normal;
  color: #9C9C9C;

  background-color: transparent;
  border: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  width: 760px;
  margin-left: 72px;
  margin-bottom: 78px;

  background-color: #EBEBEB;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  margin-left: 14px;

  list-style: none;
}

.pagination-list li:not(:last-child) {
  margin-right: 30px;
}

.pagination-button {
  padding: 22px 28px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
}

.pagination-button:hover {
  background-color: #D8D8D8;
}

.pagination-button:active {
  color: #969696;

  background-color: #d9d9d9;
}

.pagination-item a {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.5px;
  color: #B2B2B2;
}

.pagination-item a:hover {
  color: #666666;
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  color: #000000;
}

/* footer */
.main-footer {
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer-top,
.main-footer-middle,
.main-footer-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: 42px;
}

.main-footer-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer-bottom::before {
  position: absolute;
  top: 30px;
  left: 0;

  content: " ";

  width: 80px;
  height: 7px;

  background-color: #FFC600;
}

.telephone {
  margin-left: auto;
}

.main-footer-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-left: 126px;
  width: 428px;
}

.main-footer-middle li:not(:last-child) {
  margin-right: 35px;
}



.main-footer-logo {
  margin-right: auto;
}

.main-footer-logo:hover img {
  opacity: 0.6;
}

.main-footer-logo:active img {
  opacity: 0.3;
}

.main-footer-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 48px;
  margin-top: 27px;
}

.main-footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.footer-social {
  margin-left: auto;
  margin-right: 14px;
}

.copyright-logo {
  margin-left: auto;
}

.footer-user-actions a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.1px;
}

.main-footer .actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin: 0;
  padding: 0;
  width: 500px;

  list-style: none;
}

.main-footer .user-account {
  position: relative;

  margin-right: 18px;
}

.main-footer .user-account::before {
  position: absolute;
  top: 12px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .logout-link {
  margin-right: 65px;
}


.main-footer .login-link {
  position: relative;

  margin-right: 65px;
}


.main-footer .login-link::before {
  position: absolute;
  top: 12px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .compare {
  position: relative;

  margin-right: 64px;
}

.main-footer .compare::before {
  position: absolute;
  top: 14px;
  left: -20px;

  content: " ";

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .cart {
  position: relative;
}

.main-footer .cart::before {
  position: absolute;
  top: 12px;
  left: -22px;

  content: " ";

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .login-link:hover,
.main-footer .login-link:hover::before,
.main-footer .compare:hover,
.main-footer .compare:hover::before,
.main-footer .cart:hover,
.main-footer .cart:hover::before {
  opacity: 0.6;
}

.main-footer .login-link:active,
.main-footer .login-link:active::before,
.main-footer .compare:active,
.main-footer .compare:active::before,
.main-footer .cart:active,
.main-footer .cart:active::before {
  opacity: 0.3;
}


.main-footer-middle a {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer-middle a:hover {
  opacity: 0.6;
}

.main-footer-middle a:active {
  opacity: 0.3;
}

address,
.telephone a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  text-indent: -999em;
}

.footer-social li {
  margin-right: 23px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inst {
  background-image: url("../img/instagram-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tw {
  background-image: url("../img/twitter-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

 .copyright-logo {
  display: block;
  width: 27px;
  height: 35px;

  text-indent: -999em;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

.copyright-logo:hover {
  opacity: 0.6;
}

.copyright-logo:active {
  opacity: 0.3;
}

    /* write us */
.modal-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  display: none;

  width: 960px;
  height: 554px;
  margin-left: -480px;
  margin-top: -277px;

  border: 1px solid transparent;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 66px -24px #000;
          box-shadow: 0 12px 66px -24px #000;
}

.modal-write-us p {
  margin: 0;
  padding: 0;
}

.write-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-right: 88px;
  margin-left: 88px;
  margin-top: 97px;
  margin-bottom: 94px;
}

.write-us input {
  width: 360px;
  height: 50px;

  border: none;
}

.form-field:first-child input {
  margin-right: 40px;
}

.write-us textarea {
  width: 760px;
  min-width: 600px;
  max-width: 850px;
  height: 156px;
  margin-bottom: 54px;

  border: none;
}

.write-us .form-field:last-child {
  margin-top: 37px;
}

.write-us .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.modal-write-us label {
  font: inherit;
  margin-bottom: 10px;
}

.modal-write-us input,
.modal-write-us textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #a8a8a8;

  padding: 20px;

  background-color: #F2F2F2;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  color: #ADADAD;
  background-color: #eaeaea;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  outline-color: #f7e296;
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
  color: #b09f9f;
  background-color: #f6dada;
}

.modal-write-us .modal-close,
.modal-map .modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  text-indent: -999em;

  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  outline: none;

  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 960px;
  height: 560px;
  margin-left: -480px;
  margin-top: -280px;

  border: 1px solid transparent;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 66px -24px #000;
          box-shadow: 0 12px 66px -24px #000;
}

.modal-map .modal-close {
  opacity: 0.8;
}

.modal-map .modal-close:hover {
  opacity: 1;
}

.modal-map .modal-close:active {
  opacity: 0.3;
}

.modal-map img {
  max-width: 100%;
  height: auto;
}

.modal-map p {
  margin: 0;
  padding: 0;
}
