@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lucida_granderegular';
    src: url('../fonts/lucida-grande-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
  position: relative;

  width: 100%;
  margin: 0;
  padding-top: 40px;


  font-family: 'gilroyextrabold','gilroylight', 'Open Sans', 'lucida_granderegular', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-stretch: condensed;
  color: #000000;

  background-color: #ffffff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

figure {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;

  /* margin-top: 40px; */
  margin-bottom: 43px;
  padding: 50px 60px 43px 60px;

  min-width: 960px;
  height: 186px;
  background-color: #F8E297;
  /* border-top: 0.1px solid #F8E297; */
  /* border-bottom: 0.1px solid #F8E297; */
}

.main-header-logo {
  position: absolute;
  top: -17px;
  left: 50px;

}


.main-header-logo:hover img {
  opacity: 0.6;
}

.main-header-logo:active img {
  opacity: 0.3;
}


.main-header-top {
  margin-bottom: 39px;
}

.button {
  position: relative;
  z-index: 0;

  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: transparent;
  border: none;
}

.details-btn::after {
  content: "Подробнее";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}

.features-slider-button::after {
  content: "Доставка";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}


.active-tab::after {
  background-color: transparent;
}

.about-us-btn::after {
  content: "Подробнее о нас";
  color: transparent;

  position: absolute;
  top: 42%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}

.write-us-btn::after {
  content: "Напишите нам";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}

.filter-form button::after {
  content: "Показать";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}

.to-cart {
  white-space: nowrap;
}

.to-cart::after {
  content: "В корзину";
  color: transparent;

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -100;

  padding: inherit;
  padding-top: 0;
  padding-bottom: 0;
  width: inherit;
  height: 8px;

  background-color: #F0C52E;
}

.button:hover,
.button:focus {
  background-color: #F0C52E;
}

.button:active {
  color: #A78920;

  background-color: #F0C52E;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.site-search input {
  position: relative;

  margin-left: 26px;
  width: 317px;
  height: 49px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #AD9D69;

  background-color: transparent;
  border: none;
  outline: none;
}


.site-search {
  display: flex;
  position: relative;

  margin-right: auto;
}

.site-search input {
  color: #000000;
}

.site-search input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.site-search input:hover::placeholder {
  opacity: 0.6
}

.site-search input:focus::placeholder {
  opacity: 1;
}




.site-search input:focus {
  border-bottom: 2px solid #000000;
}

.site-search button {
  display: none;

  width: 85px;
  height: 49px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.site-search input:focus + button {
  display: block;
}

.site-search button:hover {
  color: #ffffff;

  background-color: #000000;
}

.site-search label {
  position: absolute;
  top: 18px;
  left: -6px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  text-indent: -999em;
}




.site-search button:active {
  display: block;

  color: #4D4D4D;
}

.user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.actions-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  width: 500px;

  list-style: none;
}

.login-link {
  position: relative;

  margin-right: 236px;
}

.user-account {
  position: relative;

  margin-right: 20px;

}

.user-account::before {
  position: absolute;
  top: 10px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
}

.login-link::before {
  position: absolute;
  top: 10px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
}

.logout-link {
  margin-right: 85px;

  opacity: 0.3;
}

.logout-link:hover {
  opacity: 1;
}


.compare {
  position: relative;

  margin-right: 69px;
}

.compare::before {
  position: absolute;
  top: 10px;
  left: -26px;

  content: " ";

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
}

.cart {
  position: relative;
}

.cart::before {
  position: absolute;
  top: 8px;
  left: -26px;

  content: " ";

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.user-account:hover,
.login-link:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.user-account:active,
.login-link:active,
.compare:active,
.cart:active{
  opacity: 0.3;
}

.actions-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 0.1px;
}


.main-site-navigation {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}


.main-site-navigation a {
  font-family: 'gilroyextrabold','gilroylight', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-site-navigation a:hover {
  color: #635A3C;
}

.main-site-navigation a:active {
  color: #AD9D69;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:nth-child(3) {
  margin-right: 114px;
}

.navigation-item:nth-child(2) {
  margin-right: 39px;
}


.catalog-dropdown-list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}


.catalog-dropdown-container {
  position: relative;
}

.catalog-dropdown-container::after {
  position: absolute;
  top: 3px;
  right: -26px;

  content: " ";

  width: 16px;
  height: 16px;

  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
}

.catalog-dropdown-container:hover ul  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  top: 20px;
  left: -60px;
  z-index: 1;

  width: 1160px;
  height: 155px;
  padding-left: 50px;
  padding-top: 20px;

  background-color: #F8E297;
}

.catalog-dropdown-list li {
  margin-right: 60px;
}

.catalog-dropdown-list li:last-child {
  flex-basis: 70px;
}


.catalog-dropdown-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.1px;
}

.catalog-dropdown-list a:hover {
  color: #625A34;
}

.catalog-dropdown-list a:active {
  color: #AC9D5C;
}


.main-slider {
  position: relative;

  margin-bottom: 105px;
}

.main-slider::before {
  content: " ";

  position: absolute;
  top: -1px;
  left: 0;
  z-index: -100;

  width: 1160px;
  height: 113px;

  background-color: #f7e296;
}

.main-slider .slider-container {
  display: flex;
  justify-content: space-between;

  padding-left: 90px;
  padding-right: 80px;
}

.main-slider .hidden {
  display: none;
}

.controls-container {
  position: relative;

  margin-top: 60px;
  margin-bottom: 60px;
}

.controls-container a,
.button {
  position: relative;

  padding: 8px 45px;
}


.main-slider .buttons-container {
  position: absolute;
  top: 0;
  left: 400px;
}

.main-slider .image-container {
  width: 440px;
  margin-right: 125px;
}


.main-slider .item-description {
  width: 540px;
}

.main-slider  b {
  position: relative;

  display: block;
  margin-top: 80px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-slider  b::before {
  content: " ";

  position: absolute;
  top: -50px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.main-slider  b::after {
  content: "01";

  position: absolute;
  top: -92px;
  right: 28px;
  z-index: -10;

  font-size: 180px;
  line-height: 180px;
  color: #fff;
}

.main-slider p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.main-slider .table-value {
  font-family: "gilroylight", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-slider .table-property {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
}

.main-slider table {
  /* margin-right: 80px; */
  /* margin: 0; */
  /* padding: 0; */
  /* width: 428px; */
  /* border-spacing: 80px 21px; */
}

.main-slider tr {
  /* margin: 0; */
  /* padding: 0; */
}

.main-slider td {
  /* margin: 0; */
  /* padding: 0; */
  text-align: left;
  white-space: nowrap;
  width: 33%;
  /* border-spacing: 80px 21px; */
}

.categories {
  width: 1160px;
  margin-bottom: 185px;
}

.categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-list li:not(:last-child) {
  margin-right: 40px;
}
.categories-item a {
  margin-bottom: 38px;
}


.categories-item-icon {
  position: relative;
  display: block;

  width: 160px;
  height: 160px;

  background-color: #F8E297;
}

.categories-item-icon:hover {
  background-color: #F0C52E;
}

.virtual::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -228px -215px;

}

.virtual:active::after,
.monopod:active::after,
.camera:active::after,
.band:active::after,
.watch:active::after,
.quadro:active::after {
  opacity: 0.3;
}

.monopod::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -7px;
}

.camera::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -419px -7px;
}

.band::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -24px -211px;
}

.watch::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: 3px -400px;
}

.quadro::after {
  content: " ";

  display: block;

  position: absolute;

  width: 160px;
  height: 160px;

  background-image: url("../img/categories-sprite.png");
  background-repeat: no-repeat;
  background-position: -222px -3px;;

}

.categories-item figcaption {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #000000;
}

.features-slider {
  margin-bottom: 105px;

  height: 288px;

  background-color: #E5E5E5;
}

.features-slider .container {
  position: relative;
}

.features-flex-box {
  position: absolute;
  top: -24px;

  display: flex;

  width: 1160px;
  height: 194px;
}

.features-slider .hidden {
  display: none;
}

.features-slider .buttons-container {
  position: relative;

  width: 278px;
  margin-right: 125px;
}

.features-slider .buttons-container::after {
  position: absolute;
  top: -81px;
  left: 274px;

  content: " ";

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.features-slider .active-tab,
.features-slider .button-wrapper:active,
.features-slider .button-wrapper:active .features-slider-button {
  color: #F7E184;

  background-color: #000000;
}

.features-slider-button {
  width: 160px;
  padding: 12px 20px;
}

.features-slider-button:active::after,
 .features-slider .button-wrapper:active .features-slider-button::after{
  background-color: transparent;
}


.features-slider .button-wrapper:not(:last-child) {
  margin-bottom: 24px;
}

.features-slider h3 {
  margin-top: 0;
  margin-bottom: 40px;
  width: 230px;
}

.features-slider p {
  width: 455px;
}

.features-slider-content {
  position: relative;
}

.features-slider .delivery-img::after {
  position: absolute;
  top: 0;
  right: -230px;

  content: " ";

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.png");
}

.features-slider .warranty-img::after {
  position: absolute;
  top: 0;
  right: -230px;

  content: " ";

  width: 172px;
  height: 194px;

  background-image: url("../img/warranty.png");
}

.features-slider .credit-img::after {
  position: absolute;
  top: 0;
  right: -230px;

  content: " ";

  width: 157px;
  height: 186px;

  background-image: url("../img/credit.png");
}

.features-slider h3 {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #000000;
}

.features-slider p,
.shop-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #464646;
}

.brands {
  margin-bottom: 170px;
}

.brands-list {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.brand-item a {
  font-size: 0;
}

.brand-item img {
  filter: saturate(0) opacity(0.2);
}

.brand-item img:hover {
  filter: saturate(1) opacity(1);
}

.shop-info {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 478px;
}

.contacts {
  width: 562px;
}

.about h2,
.contacts h2 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.1px;
  color: #000000;
}

.about h2::before,
.contacts h2::before {
  content: " ";

  position: absolute;
  top: -57px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 45px;

  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #464646;
}

.logistics-list {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-bottom: 80px;

  list-style: none;
}

.logistics-list li {
  padding: 0;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.map-link {
  display: block;
  margin-bottom: 98px;
}
/* catalog.html */
.page-title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 30px;
  margin-top: 40px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #000000;
}

.breadcrumbs {
  display: flex;

  margin: 0;
  margin-bottom: 50px;
  margin-left: 60px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.breadcrumbs a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #B2B2B2;
}

.breadcrumbs li:not(:last-child) {
  position: relative;
}

.breadcrumbs li::after {
  content: " ";

  display: block;

  position: absolute;
  right: -21px;
  top: 10px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.png");
}


.breadcrumbs a[href]:hover {
  color: #666666;
}

.breadcrumbs a[href]:active {
  color: #E5E5E5;
}

.catalog-flex-box {
  display: flex;
}

.catalog {
  flex-grow: 1;
}

.filter-outer {
  background-color: #dcdcdc;
}

.catalog-outer {
  display: flex;
  background-color: #ebebeb;
}

.filter {
  width: calc(50% - (1160px / 2 - 288px));
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
}

.filter h3 {
  margin: 0;
  padding-left: 60px;
  padding-top: 23px;
  padding-bottom: 23px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}


.filter-inner {
  width: 265px;
  margin-left: auto;
  margin-right: 70px;
}

.catalog-inner {
  width: calc(1160px - 288px);
}

.filter ul {
  list-style: none;
}

.filter legend {
  position: relative;
  font: inherit;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter fieldset ul {
  padding: 0;
}

.filter-form {
  padding: 0;
  padding-left: 60px;
}

.filter-option label,
.bluetooth-feature label {
  position: relative;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-option input[type="checkbox"],
.bluetooth-feature input[type="radio"] {
  display: none;
}

.filter-option label::before {
  content: " ";

  position: absolute;
  left: -38px;
  top: -3px;

  width: 23px;
  height: 23px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.filter-option input:checked + label::before {
  content: " ";

  position: absolute;
  left: -38px;
  top: -3px;

  width: 23px;
  height: 23px;

  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}

.bluetooth-feature label::before {
  content: " ";

  position: absolute;
  left: -36px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.bluetooth-feature input:checked + label::before {
  content: " ";

  position: absolute;
  left: -36px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}

.set-color {
  margin-bottom: 62px;
}

.color,
.bluetooth-feature {
  margin-left: 40px;
}
.bluetooth-feature {
  margin-left: 35px;
  margin-bottom: 60px;
}

.filter-form legend::before {
  content: " ";

  position: absolute;
  top: -17px;
  left: 0;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

/* range-filter start */

.range-filter {
  margin-top: 40px;
  width: 201px;
}

.range-controls {
  margin-bottom: 87px;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.range-controls .scale {
  position: relative;
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 9px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 140px;
}

.range-controls label {
  position: absolute;
  top: 11px;
  left: -5px;
  display: inline-block;
  width: 50%;

  font-family: 'gilroylight', sans-serif;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  white-space: nowrap;
}

.range-controls .toggle-max label {
  left: -18px;
}

.range-controls label span {
  font-family: 'gilroylight', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #bebebe;
}

.range-controls {
  font-size: 0;
}

.range-controls output {
  width: 60px;
  padding: 8px 10px;

  font-family: 'gilroylight', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283136;
}
/* range-filter finish */

.set-price {
  margin-top: 88px;
}

.set-color {

}

.sorting {
  display: flex;
  align-items: center;

  background-color: #ebebeb;
}

.sorting-list {
  display: flex;
}


.sorting-list li:not(:last-child) {
  margin-right: 30px;
}

.sorting-direction {
  display: flex;
  margin-left: auto;
}

.sorting-direction li:not(:last-child) {
  margin-right: 15px;
}

.sorting-up {
  text-indent: -999em;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #000000 transparent;
  opacity: 0.2;
}

.sorting-down {
  text-indent: -999em;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
  opacity: 0.2;
}

.sorting-direction li:hover {
  opacity: 0.4;
}

.sorting-direction-active {
  opacity: 1;
}

.sorting h3 {
  margin: 0;
  padding-left: 70px;
  padding-top: 23px;
  padding-bottom: 23px;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.sorting ul {
  list-style: none;
}

.sorting-list li {
  font-family: 'lucida_granderegular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  opacity: 0.3;
}

.sorting-list li:hover {
  opacity: 0.6;
}

.sorting-list .sorting-item-active,
.sorting-list li:active {
  opacity: 1;
}

.monopods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 70px;
  margin-top: 70px;
  padding: 0;

  list-style: none;
}

.monopods-list-item {
  position: relative;
}

.monopods-list-item:last-child::after {
  content: "NEW";

  position: absolute;
  right: 35px;
  top: 35px;

  padding: 20px 16px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;

  font-family: "gilroyextrabold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #d6d6d6;
  text-align: center;
  vertical-align: bottom;
}


.monopods-list .item-buttons-hover {
  display: none;

  position: absolute;
  top: 179px;
  left: 50%;

  margin-left: -100px;
}

.monopods-list-item:hover {
  opacity: 0.7;

}

.monopods-list-item:hover .item-buttons-hover {
  display: flex;
  flex-direction: column;
}


.monopods-list-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.monopods-list-item > div {
  display: flex;
  flex-direction: column;
}

.monopods-list-item > div > a {
  margin-bottom: 35px;
}

.monopods-list-item:first-child,
.monopods-list-item:nth-child(2) {
  margin-bottom: 50px;
}

.monopods-list-item:last-child,
.monopods-list-item:nth-child(3) {
  margin-bottom: 40px;
}

.item-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-caption p {
  width: 225px;
  margin: 0;
}

.item-caption span {
  display: block;
}

.item-title {
  font: inherit;
}

.item-price {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #464646;
}

.to-compare-button {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-weight: normal;
  color: #9C9C9C;

  background-color: transparent;
  border: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 760px;
  margin-left: 70px;

  background-color: #EBEBEB;
}

.pagination-list {
  display: flex;

  list-style: none;
}

.pagination-list li:not(:last-child) {
  margin-right: 30px;
}

.pagination-button {
  padding: 30px;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
}

.pagination-button:hover {
  background-color: #D8D8D8;
}

.pagination-button:active {
  color: #969696;

  background-color: #d9d9d9;
}

.pagination-item a {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #B2B2B2;
}

.pagination-item a:hover {
  color: #666666;
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  color: #000000;
}








/* footer */
.main-footer {
  margin-top: 75px;

  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer-top,
.main-footer-middle,
.main-footer-bottom {
  position: relative;
  display: flex;
}

.main-footer-top {
  align-items: center;

  margin-top: 60px;
}

.main-footer-middle {
  align-items: center;
}

.main-footer-bottom::before {
  position: absolute;
  top: 30px;
  left: 0;

  content: " ";

  width: 80px;
  height: 7px;

  background-color: #FFC600;
}

.telephone {
  margin-left: auto;
}



.main-footer-middle ul {
  display: flex;
  justify-content: space-between;

  margin-left: 166px;

  width: 428px;
}



.main-footer-logo {
  margin-right: auto;
}

.main-footer-logo:hover img {
  opacity: 0.6;
}

.main-footer-logo:active img {
  opacity: 0.3;
}

.main-footer-bottom {
  align-items: center;

  margin-bottom: 65px;
}

.main-footer-bottom ul {
  display: flex;

}

.footer-social {
  margin-left: auto;
}


.copyright-logo {
  margin-left: auto;
}

.main-footer .user-actions a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.1px;
}

.main-footer .actions-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  width: 500px;

  list-style: none;
}

.main-footer .user-account {
  position: relative;

  margin-right: 20px;
}

.main-footer .user-account::before {
  position: absolute;
  top: 12px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .logout-link {
  margin-right: 65px;
}


.main-footer .login-link {
  position: relative;

  margin-right: 65px;
}


.main-footer .login-link::before {
  position: absolute;
  top: 12px;
  left: -26px;

  content: " ";

  width: 13px;
  height: 12px;

  background-image: url("../img/login-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .compare {
  position: relative;

  margin-right: 69px;
}

.main-footer .compare::before {
  position: absolute;
  top: 14px;
  left: -26px;

  content: " ";

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .cart {
  position: relative;
}

.main-footer .cart::before {
  position: absolute;
  top: 12px;
  left: -26px;

  content: " ";

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-yellow-icon.svg");
  background-repeat: no-repeat;
}

.main-footer .login-link:hover,
.main-footer .login-link:hover::before,
.main-footer .compare:hover,
.main-footer .compare:hover::before,
.main-footer .cart:hover,
.main-footer .cart:hover::before {
  opacity: 0.6;
}

.main-footer .login-link:active,
.main-footer .login-link:active::before,
.main-footer .compare:active,
.main-footer .compare:active::before,
.main-footer .cart:active,
.main-footer .cart:active::before {
  opacity: 0.3;
}


.main-footer-middle a {
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;
}

.main-footer-middle a:hover {
  opacity: 0.6;
}

.main-footer-middle a:active {
  opacity: 0.3;
}

address,
.telephone a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #C7C7C7;
  text-transform: capitalize;
  letter-spacing: 0.15px;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button {
  display: block;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  text-indent: -999em;
}

.footer-social li {
  margin-right: 23px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inst {
  background-image: url("../img/instagram-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tw {
  background-image: url("../img/twitter-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

 .copyright-logo {
  display: block;

  width: 27px;
  height: 35px;

  text-indent: -999em;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

.copyright-logo:hover {
  opacity: 0.6;
}

.copyright-logo:active {
  opacity: 0.3;
}

.modal-write-us label {
  font: inherit;
}

.modal-write-us input,
.modal-write-us textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #ADADAD;

  background-color: #F2F2F2;
}
